/* * { */
    /* border: 1px solid black; */
/* } */
body{
    background-image: url(pexels-louis-3047315.jpg);
    background-size: cover;
}
.judul{
    text-align: center;
    margin-top: 100px;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 470px;
    margin-top: auto;
}
.container2{
    width: 500px;
}
.form{
    width: 450px;
}
.header{
    width: auto;
}
.table{
    text-align: center;
}